* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.hero {
  height: 100vh;
  width: auto;
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(248, 246, 247, 0.3)), url('./assets/pexels-leandro-boogalu-1390403.webp');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero-root {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app-info {
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 15rem;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 4rem;
  --card-shadow-color: 4, 9, 20; /* RGB equivalent of #040914 */
  
  box-shadow: 0px 0.46rem 2.18rem rgba(var(--card-shadow-color), 0.03),
    0px 0.93rem 1.4rem rgba(var(--card-shadow-color), 0.03),
    0px 0.25rem 0.53rem rgba(var(--card-shadow-color), 0.05),
    0px 0.12rem 0.18rem rgba(var(--card-shadow-color), 0.03);
  
}

.info-headline {
  color: #333333;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
}

.info-text {
  color: 	#9a9a9a;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}


.cta {
  display: flex;
  flex-direction: row;
  column-gap: 4.5rem;
}

.reservation-cta {
  border: none;
  background-color: #ededed;
  padding: 1rem 1.5rem;
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700(thin);
  border-radius: 0.5rem;
  cursor: pointer;

}
.see-more {
  border:#333333 solid 2px;
  background-color: transparent;
  padding: 1rem 1.5rem;
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700(thin);
  border-radius: 0.5rem;
  cursor: pointer;
}

.reservation-cta:hover {
  background-color: transparent;
  border: #333333 solid 1px;
  transition: 0.3s;
}

.see-more:hover {
  background-color: #ededed;
  border: none;
  transition: 0.3s;
}
.calculator-box {
  position: relative;
  height: 70vh;
  backdrop-filter: blur(50px);
  margin-right: 15rem;
  border-radius: 4rem;
  padding: 2rem;
  --card-shadow-color: 4, 9, 20; /* RGB equivalent of #040914 */
  
  box-shadow: 0px 0.46rem 2.18rem rgba(var(--card-shadow-color), 0.03),
    0px 0.93rem 1.4rem rgba(var(--card-shadow-color), 0.03),
    0px 0.25rem 0.53rem rgba(var(--card-shadow-color), 0.05),
    0px 0.12rem 0.18rem rgba(var(--card-shadow-color), 0.03);
  }

.calculator-heading {
  margin-bottom: 2.5rem;
}

input {
  display: block;
  margin-bottom: 1.5rem;
  background-color: transparent;
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
}

.sex {
  display: inline;
}

label {
  display: block;
  margin-top: 1.5rem;
}

.calculate {
  width: 5rem;
  padding: 12px;
  background-color: transparent;
}

.mode {
  position: relative;
}

.mode-info {
  position: absolute;
  top: -20px;
  right: 0;
}

.mode1 {
  position: absolute;
  right: 0%;
  top: 0%;
  
}
.mode2 {
  position: absolute;
  right: 10%;
  top: 0%;
  padding: 5px
}

.conditionMode2 {
  display: none;
}











